name: Update AoC Badges
on:
  # schedule:
  #   - cron: "6 5 1-25 12 *"
  push:
    branches:
      - main
  workflow_dispatch:
jobs:
  update:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: joblo2213/aoc-badges-action@v3
        with:
          userid: 398001
          session: ${{ secrets.AOC_SESSION }}
          year: 2022
      - uses: stefanzweifel/git-auto-commit-action@v4
        with:
          commit_message: "docs: update aoc badges"
          file_pattern: README.md
